@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

html {
  font-family: 'arial';
  font-size: 16px;
}

body {
  font-family: 'Tilt Neon', sans-serif;
  margin: 0;
  padding: 0;
}

#titre_principale {
  font-family: 'VT323', monospace;
  color: rgb(0, 255, 255);
  margin: 20px;
  text-align: center;
}

header {
  background-color: #000000;
  color: #fff;
  padding: 10px 0;
}

.hero {
  background-color: #f4f4f4;
  text-align: center;
  padding: 50px 0;
}

.hero a {
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 25px;
  padding: 20px;
  transition: 0.5s;
}

.hero a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.titres {
  font-family: 'Young Serif', serif;
}

footer {
  background-color: #000000;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
}

#copyright {
  color: #fff;
  padding-left: 10px;
  text-align: left;
}

#opensource {
  color: white;
  text-align: right;
  text-decoration: none;
  position: absolute;
  right: 10px;
}

#opensource:hover {
  color: aqua;
}