/* Import Google Fonts for custom typography */

/* Font : Audiowide */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
/* Font : Young Serif */
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
/* Font : Tilt Neon */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
/* Font : Crimson Text */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap');
/* Font : Climate Crisis */
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

:root {
  --primary-color: #e0d8ce;
  --background-color: #161511;
  --error-messages: #FF5252;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--background-color);
    background-image: url('noise.png');
    background-repeat: repeat;
    background-blend-mode: overlay;
    font-size: 62.5%;
}

/* Default link styles */
a {
  text-decoration: none;
  color: var(--primary-color);
}

/* Global body styles */
body {
  font-family: 'Tilt Neon', sans-serif;
  font-size: 1.6rem;
  color: var(--primary-color);
  overflow-x: hidden;
  transition: 0.3s ease;
}

#hero {
  transition: 0.5s ease;
}

nav {
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid var(--primary-color);
  padding: 2rem 3rem;
  backdrop-filter: blur(14px);
  transition: 0.3s ease;
}

nav.shrinked {
  position: fixed;
  z-index: 5;
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: 0.1rem solid var(--primary-color);
  padding: 2rem 3rem;
  backdrop-filter: blur(14px);
  transform: translate(15%,10%);
  width: 75%;
  border-radius: 50px;
  transition: 0.3s ease;
}

/* Navigation Buttons Styling */
.button.nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.button.nav li {
  margin: 0 1rem;
}

nav li a {
  color: var(--primary-color);
  text-decoration: none;
  border: solid var(--primary-color);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  transition: 0.3s ease;
}

nav li a:hover {
  color: black;
  background-color: var(--primary-color);
}

/* Main title styling */
#main_title {
  font-family: "Audiowide", sans-serif;
  font-size: 8rem;
}

#content {
  z-index: 0;
  position: absolute;
  /*margin-top: 50%;*/
}

/* Container to layout content boxes responsively */
#about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.6rem;
  margin: 0 2rem;
}

/* Content box titles */
.title {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 0;
  font-size: 2.4rem;
}

/* Content box paragraphs */
.content {
  font-size: 1.6rem;
  line-height: 1.6;
}

/* About and portfolio sections */
section {
  padding: 3rem 0;
  text-align: center;
}

/* Project cards container */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 4rem 2rem;
  text-align: center;
}

.card {
  border-radius: 1.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(14px);
}

/* Frosted-glass effect for each content box */
.card.text {
  padding: 2.4rem;
  max-width: 35rem;
  flex: 1 1 30rem;
  transition: 0.3s ease;
}

/* Smooth hover animation */
.card.text:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.8rem 2rem rgba(129, 124, 124, 0.2);
}

/* Individual project card styles */
.card.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 30rem;
  padding: 1.5rem;
  transition: 0.3s ease;
}

/* Hover effect for project cards */
.card.image:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.2);
}

/* Titles font family */
.titles {
  font-family: 'Young Serif', serif;
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
}

.profile-pictures {
  border-radius: 10%;
  width: 10rem;
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
  align-items: center;
}

.profile-pictures:hover {
  opacity: 1;
}

.card.text.form:hover {
  transform: translateY(0rem);
}

.form-item {
  margin-bottom: 3rem;
}

.form-item label {
  display: block;
  margin-bottom: 10px;
  font-size: 2rem;
}

.form-item input, textarea {
  padding: 1rem;
  width: 100%;
  color: var(--primary-color);
  font-size: 2rem;
  background-color: var(--background-color);
}

textarea{
  height: 200px;
  font-family: inherit;
  resize: none;
}

#btn-form {
  background-color: var(--primary-color);
  color: #1E2337;
  border: none;
  padding: 2rem;
  width: 50%;
  border-radius: 10px;
  margin-top: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
}

.error {
  color: var(--error-messages);
  text-align: left;
  margin-top: 0.5rem;
  display: none;
}

.success {
  color: var(--primary-color);
  margin-top: 0.5rem;
  display: none;
}

/* Footer styles */
footer {
  bottom: 0;
  transition: 0.4s ease;
  backdrop-filter: blur(14px);
  border-top: 0.1rem solid var(--primary-color);
}

.footer-text {
  display: flex;
  margin: 0 20rem;
  padding: 1rem;
}

.footer-big-text {
  font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "YEAR" 2000;
  font-size: 13vw;
  padding: 0 10rem;
  text-align: center;
  height: 20vh;
  overflow: hidden;
}

.footer-socials {
  padding: 2rem 1rem;
  text-align: center;
}

/* Footer elements alignment */
#copyright-container {
  order: 1;
  flex: 1;
  text-align: left;
}

#opensource-container {
  order: 2;
  flex: 1;
  text-align: right;
}

#opensource {
  text-decoration: underline;
}

#opensource:hover {
  text-decoration: none;
}

/* Social media links hover effect */
.reseaux {
  padding: 2rem;
}

.reseaux:hover {
  border-radius: 10%;
  background-color: var(--primary-color);
  transition: 0.3s ease;
}

.reseaux:hover i {
  color: black;
}

.floating {
  opacity: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  position: fixed;
  z-index: -1;
}

.floating.ring {
  padding: 2rem;
  border: 2px solid var(--primary-color);
  pointer-events: none;
  box-sizing: border-box;
}

.floating.ball {
  padding: 1rem;
  background-color: var(--primary-color);
}

@media (max-width: 402px) {
  .button.nav li {
    padding: 2rem 0;
  }
}

@media (max-width: 425px) {

  .button.nav {
    margin-bottom: 2rem;
  }

  .footer-big-text {
    display: none;
  }
}

@media (max-width: 691px) {
  .footer-text {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .floating {
    display: none;
  }

  #main_title {
    font-size: 4rem;
    padding-bottom: 4%;
  }
}

@media (max-width: 850px) {
  .section.social i {
    padding: 2.5rem;
  }
}

@media (max-width: 912px) {
  #main-title-container {
    margin-bottom: 2rem;
  }
}